body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    transition: background-color 0.5s;
}
.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}


.clock {
    font-size: 4em;
    margin: 20px;
}

.date {
    font-size: 1.5em;
    margin-bottom: 20px;
}

select, input[type="time"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9800;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e68a00;
}

.controls, .alarm-controls, .timer-controls, .stopwatch-controls {
    margin: 20px 0;
}

.timer, .stopwatch {
    font-size: 2em;
    margin: 10px;
}